# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ipython Notebook
.ipynb_checkpoints

# Data preprocess intermediate files
data/datasets/training_example/*/
data/datasets/prediction_example/*/
data/datasets/prediction_example/*.[bfp]*
